@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown:hover .dropdown-menu {
    display: block;
  }
  
  html,
body {
	height: 100%;
}

.fullheader{
  width:100% !important
}

.paragraphe p{
  margin-bottom: 10px;
}

.list-duo ul li{
  margin-bottom: 10px;
}
